body {
    background-color: #e9b08e;
}

.brand {
    font-family: Merienda, sans-serif;
    font-size: 2rem;
    font-weight: 700;
    color: #5e3c2c;
}

.recipe-link {
    color:#6c9e4f;
    text-decoration: none;
}

.recipe-link:hover {
    color: #ed6e3a
}

.card-text {
    color: #a4330d;
}

.green-on {
    color:#6c9e4f;
}

.thin {
    font-weight: 300;
}

.light-bg {
    background-color: #ed6e3a;
}

.dark-bg {
    background-color: #ed6e3a;
}

.main-bg {
    background-color: #dbcdb5;
}

.navbar-text {
    font-family: Merienda, sans-serif;
    font-size: 1.4rem;
}

.nav-link {
    font-family: Merienda, sans-serif;
}

.brand:hover {
    color: #dbcdb5;
}

.card-body {
    font-family: Merienda, sans-serif;
    border: none;
    
}

.image-container {
    position: relative;
    padding-bottom: 5px;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #5e3c2c;
}

.author {
    color: #dbcdb5;
    margin: 4px;
    text-transform: uppercase;
}

.masthead {
    font-family: Merienda, sans-serif;
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #5e3c2c;
    color: #dbcdb5;
    position: relative;
    padding-top: 5px;
    padding-left: 5px;
    text-align: center;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}



.footer {
    font-family: Merienda, sans-serif;
    color: #5e3c2c
}

.post-link {
    text-decoration: none;
    color: #445261;
}

.post-link:hover,
.page-link {
    color: #ed6e3a;
}

.post-title {
    font-family: Merienda, sans-serif;
    margin-top: 20%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}

.btn-signup {
    background-color: #6c9e4f;
    color: #dbcdb5;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #a4330d;
    color: #dbcdb5;
}

.link {
    color: #6c9e4f;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #a4330d;
    text-decoration: underline;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}

.divider {
    display: block; height: 1px;
    border: 0; border-top: 5px solid #6c9e4f;
    margin: 1em 0; padding: 0;
}

.social {
    color: #5e3c2c;
}

.social:hover {
    color: #dbcdb5;
}

.social:visited {
    color: #6c9e4f;
}

.container {
    font-family: Merienda, sans serif;
    color: #5e3c2c;
}

.btn-reset {
    color: #5e3c2c;
}

.btn-reset:hover {
    color: #a4330d;
}

.card {
    padding-top: 5px;
    padding-left: 5px;
}

.page-link {
    color: #dbcdb5;
    background-color:#a4330d;
}

.page-link:hover {
    color:#dbcdb5;
    background-color: #6c9e4f;
}

.navbar-toggler:active {
    color: #6c9e4f;
}