{% extends 'base.html' %} {% block content %}
{% load crispy_forms_tags %}

<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 masthead-text">

                <!-- Recipe title goes in the h1 tags -->

                <h1 class="recipe-title">{{ recipe.title }}</h1>

                <!-- Recipe author goes before the | the date the recipe was created goes after -->

                <p class="recipe-subtitle"> {{ recipe.author }}| {{ recipe.created_on }}</p>
            </div>
            <div class="d-none d-md-block col-md-6 masthead-image">

                <!-- The featured image URL goes in the src attribute -->

                {% if "placeholder" in recipe.featured_image.url %}
                <img src="#" alt="{{ recipe.title }}">
                {% else %}
                <img src="{{ recipe.featured_image.url }}" alt="{{ recipe.title }}">
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col card mb-4  mt-3 left  top">
            <div class="card-body">

                <!-- The recipe main content goes inside the card-text. -->

                <p class="card-text ">
                    {{ recipe.content | safe }}
                </p>
                <div class="row">

                    <div class="col-1">
                        <strong>
                            {% if user.is_authenticated %}
                            <form class="d-inline" action="{% url 'recipe_like' recipe.slug %}" method="POST">
                                {% csrf_token %}
                                {% if liked %}

                                <button type="submit" name="recipepost_id" value="{{ recipe.slug }}" class="btn-like"><i
                                        class="fas fa-heart"></i></button>

                                {% else %}

                                <button type="submit" name="recipepost_id" value="{{ recipe.slug }}" class="btn-like"><i
                                    class="far fa-heart"></i></button>

                                {% endif %}

                            </form>
                            {% else %}

                            <span class="text-secondary"><i class="far fa-heart"></i></span>
                            {% endif %}
                            <span class="text-secondary"> {{ recipe.number_of_likes }}</span>
                        </strong>

                    </div>
                    <div class="col-1">
                        {% with comments.count as total_comments %}
                        <strong class="text-secondary"><i class="far fa-comments"></i>

                            <!-- Our total_comments variable goes before the closing strong tag -->

                            {{ total_comments }}</strong>
                        {% endwith %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>

     <!-- Comment section -->

    <div class="row">
        <div class="col-md-8 card mb-4 mt-3">
            <h3>Comments:</h3>
            <div class="card-body">
                {% for comment in comments %}
                <div class="comments" style="padding: 10px;">
                    <p class="font-weight-bold">
                        {{ comment.name }}
                        <span class=" text-muted font-weight-normal">
                            {{ comment.created_on }}
                        </span> wrote:
                    </p>
                        {{ comment.body | linebreaks }}

                        [{{ comment_id }}, {{ comment_task }}]

                        <form class="d-inline" method="POST">
                            {% csrf_token %}

                            <div id="div_id_body" class="form-group">
                              <label for="id_body" class=" requiredField">Body<span class="asteriskField">*</span></label>
                              <div>
                                <textarea name="body" cols="40" rows="10" class="textarea form-control" required="" id="id_body">
                                  {{ comment.body | linebreaks }}
                                </textarea>
                              </div>
                            </div>

                            <input type="hidden" name="comment_id" value="{{ comment.id }}">
                            <input type="hidden" name="comment_task" value="edit">

                            <button type="submit" class="comment-submit btn btn-signup btn-lg">Edit Comment</button>
                        </form>

                </div>
                {% endfor %}
            </div>
        </div>

        <!-- User message -->

        <div class="col-md-4 card mb-4 mt-3 ">
            <div class="card-body">
                {% if commented %}
                <div class="alert alert-success" role="alert">
                    You comment is awaiting admin approval
                </div>
                {% else %}

                {% if user.is_authenticated %}

                <h2>Tell us what you think!</h2>
                <p>Posting as {{ user.username }}</p>
                <form method="post" style="margin-top: 1.3em;">
                    {{ comment_form | crispy }}
                    {% csrf_token %}
                    <button type="submit" class="comment-submit btn btn-signup btn-lg">Submit Comment</button>
                </form>
                {% endif %}
                {% endif %}

            </div>
        </div>
    </div>
</div>



{% endblock content %}
